<div [ngClass]="theme">

  <h2>Selectionner un theme</h2>
  <app-theme-switch (changeTheme)="changeTheme($event)"></app-theme-switch>

  <h1>Button</h1>
  <app-button-overview-example></app-button-overview-example>

  <h1>Autocomplete</h1>
  <app-autocomplete-filter-example></app-autocomplete-filter-example>

  <h1>Chips</h1>
  <app-chips-input-example></app-chips-input-example>

  <h1>DatePicker</h1>
  <app-datepicker-overview-example></app-datepicker-overview-example>

  <h1>Dialog</h1>
  <app-dialog-overview-example></app-dialog-overview-example>

  <h1>Paginator</h1>
  <app-paginator-overview-example></app-paginator-overview-example>

  <h1>Tabs</h1>
  <app-tab-group-basic-example></app-tab-group-basic-example>
<div>
