@use '@angular/material' as mat;
@use "~@angular/material/theming";

@include mat.core();

$ms-primary: (
  50: #E5F1FB,
  100: #B1D4F2,
  200: #6FB1E7,
  300: #55A3E3,
  400: #3291DC,
  500: #2382D2,
  600: #1F73B7,
  700: #18578B,
  800: #11446F,
  900: #063255,
  contrast: (
    50: #ffffff,
    100: #ffffff,
    200: #ffffff,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
  )
);

$ms-secondary: (
  50: #E8E9F8,
  100: #B9BCE9,
  200: #A9ADEA,
  300: #858BDE,
  400: #565ED6,
  500: #3841B7,
  600: #2C3390,
  700: #232873,
  800: #1A1E56,
  900: #0E112F,
  contrast: (
    50: #ffffff,
    100: #ffffff,
    200: #ffffff,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
  )
);

$ms-neutre: (
  50: #F9F9FA,
  100:  #F1F1F3,
  200:  #E8E9ED,
  300:  #DDDEE3,
  400:  #C7C8D1,
  500:  #ABACBA,
  600:  #818398,
  700:  #5C5D70,
  800:  #393A46,
  900:  #101014,
  contrast: (
    50: #ffffff,
    100: #ffffff,
    200: #ffffff,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
  )
);

$ms-validation: (
  50: #E9F6F1,
  100:  #C5E8DA,
  200:  #A0D9C2,
  300:  #62C09A,
  400:  #55B48E,
  500:  #41A57D,
  600:  #368766,
  700:  #2B6E54,
  800:  #1D4938,
  900:  #0E251C,
  contrast: (
    50: #ffffff,
    100: #ffffff,
    200: #ffffff,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
  )
);

$ms-alerte: (
  50: #FFF6E0,
  100:  #FFEEC2,
  200:  #FFE3A3,
  300:  #FFCE5C,
  400:  #FBC441,
  500:  #FFBE23,
  600:  #F5AB00,
  700:  #C28800,
  800:  #805900,
  900:  #4D3600,
  contrast: (
    50: #ffffff,
    100: #ffffff,
    200: #ffffff,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
  )
);

$ms-erreur: (
  50: #FFE0E6,
  100:  #FFC2CE,
  200:  #FFA3B3,
  300:  #FF4768,
  400:  #F21D43,
  500:  #E10028,
  600:  #AD001F,
  700:  #94001A,
  800:  #7A0016,
  900:  #47000D,
  contrast: (
    50: #ffffff,
    100: #ffffff,
    200: #ffffff,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
  )
);

$primary: mat.define-palette($ms-primary, 500);
$secondary: mat.define-palette($ms-secondary, 500);
$neutre: mat.define-palette($ms-neutre, 500);
$validation: mat.define-palette($ms-validation, 500);
$alerte: mat.define-palette($ms-alerte, 500);
$erreur: mat.define-palette($ms-erreur, 500);

$color-project-first-theme: mat.define-light-theme((
  color: (
    primary: $primary,
    accent: $secondary,
    warn: $alerte,
  )
));

$color-project-second-theme: mat.define-light-theme((
  color: (
    primary: $neutre,
    accent: $validation,
    warn: $erreur,
  )
));

@include mat.all-component-themes($color-project-first-theme);

.second-theme {
  @include mat.all-component-themes($color-project-second-theme);
}

h1 {
  padding-top: 20px;
}
